<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkage.tongji">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".app.TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity" android:theme="@style/AppThemeNoTranslucent" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.linkage.tongji.LoginActivity" android:theme="@style/AppThemeNoTranslucent"
            android:windowSoftInputMode="stateVisible|adjustResize" android:screenOrientation="portrait"/>

        <activity
            android:name="com.linkage.dragGridView.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linkage.tongji.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linkage.tongji.WebViewActivity"/>
        <activity
            android:name="com.linkage.tongji.MsgCentreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linkage.tongji.ViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity" android:theme="@style/AppThemeNoTranslucent"
            android:screenOrientation="portrait" />



    </application>

</manifest>